Connected Services/TestApi/IntegrationAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://brollcrestest.brollonline.co.za/wcfPropData/IntegrationAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OwnerObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Accno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRegNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingDate" type="xs:int" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckBankBalance" type="ser:char" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICE_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsManagingAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnersKey" type="xs:int" />
      <xs:element minOccurs="0" name="Owners_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalAddressPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareUnits" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAT_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearEnd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OwnerObj" nillable="true" type="tns:OwnerObj" />
  <xs:complexType name="SaveOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveOperation" nillable="true" type="tns:SaveOperation" />
  <xs:complexType name="GetOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtResult" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOperation" nillable="true" type="tns:GetOperation" />
  <xs:complexType name="ShareOwnerObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Accno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRegNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingDate" type="xs:int" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICE_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnersKey" type="xs:int" />
      <xs:element minOccurs="0" name="OwnersShareKey" type="xs:int" />
      <xs:element minOccurs="0" name="Owners_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareUnits" type="xs:decimal" />
      <xs:element minOccurs="0" name="Share_Percentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAT_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearEnd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShareOwnerObj" nillable="true" type="tns:ShareOwnerObj" />
  <xs:complexType name="DocumentObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivecode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocID" type="xs:int" />
      <xs:element minOccurs="0" name="DocName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalLocationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF2Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF3Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDFValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentObj" nillable="true" type="tns:DocumentObj" />
  <xs:complexType name="PortfolioObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="CallCenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallCenterNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portfolio_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Portfolio_Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portfolio_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportLogo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortfolioObj" nillable="true" type="tns:PortfolioObj" />
  <xs:complexType name="BuildingObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accountant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminFee_Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AdminFee_Floor" type="xs:decimal" />
      <xs:element minOccurs="0" name="AdminNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Admin_fee_key" type="xs:int" />
      <xs:element minOccurs="0" name="AnchorTenants" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Billing_EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BondHolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_key" type="xs:int" />
      <xs:element minOccurs="0" name="Budget_YN" type="xs:short" />
      <xs:element minOccurs="0" name="BuildingType_key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Charge_Int" type="xs:short" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clauses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreditController" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disp_Vacancy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Erf_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAR" type="xs:decimal" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="FunctionalCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLA" type="xs:decimal" />
      <xs:element minOccurs="0" name="GPS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grace" type="xs:int" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPDNodeID" type="xs:int" />
      <xs:element minOccurs="0" name="IPDSubTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestRateFixed" type="xs:decimal" />
      <xs:element minOccurs="0" name="KeysHeldByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeysHeldByNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LandLordConName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LandLordConNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaseAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagingAgent_Key" type="xs:int" />
      <xs:element minOccurs="0" name="MetricMeasurement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipality_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Next_Inv_control" type="xs:int" />
      <xs:element minOccurs="0" name="Offset" type="xs:float" />
      <xs:element minOccurs="0" name="OpsManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPaysInsurance" type="ser:char" />
      <xs:element minOccurs="0" name="Owners_key" type="xs:int" />
      <xs:element minOccurs="0" name="ParkingRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PenaltyFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Portfolio_key" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="RentableArea" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reporting_Region" type="xs:int" />
      <xs:element minOccurs="0" name="Start_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Street_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubGrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantInvoiceType" type="xs:int" />
      <xs:element minOccurs="0" name="TitleDeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Area" type="xs:int" />
      <xs:element minOccurs="0" name="Trading_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAT_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valuation" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValuationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YrEnd" type="xs:int" />
      <xs:element minOccurs="0" name="ZoningHeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoningRights" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mreader_electricity" type="xs:int" />
      <xs:element minOccurs="0" name="mreader_gas" type="xs:int" />
      <xs:element minOccurs="0" name="mreader_water" type="xs:int" />
      <xs:element minOccurs="0" name="userid_AssetManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_FinManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_FundManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_LeaseManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_PFExec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_ProcurementRecoveryAdministrator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid_UtilityPortfolioManager" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingObj" nillable="true" type="tns:BuildingObj" />
  <xs:complexType name="IPDTypeObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPDTypeObj" nillable="true" type="tns:IPDTypeObj" />
  <xs:complexType name="IPDSubTypeObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPDSubTypeObj" nillable="true" type="tns:IPDSubTypeObj" />
  <xs:complexType name="IPDNodeObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeID" type="xs:int" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPDNodeObj" nillable="true" type="tns:IPDNodeObj" />
  <xs:complexType name="MeterReaderObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reader_Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeterReaderObj" nillable="true" type="tns:MeterReaderObj" />
  <xs:complexType name="BuildingChargeTypeObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingAcc_Key" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingChargeType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="ChargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForexTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="GlobalAcc_Descr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingChargeTypeObj" nillable="true" type="tns:BuildingChargeTypeObj" />
  <xs:complexType name="BuildingAccountObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingAcc_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="GlobalAcc_Descr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalAcc_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingAccountObj" nillable="true" type="tns:BuildingAccountObj" />
  <xs:complexType name="BuildingSpaceObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingSpace_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpaceOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingSpaceObj" nillable="true" type="tns:BuildingSpaceObj" />
  <xs:complexType name="BuildingSpaceDetailObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingSpace_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Common_Area" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Usable_Area" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingSpaceDetailObj" nillable="true" type="tns:BuildingSpaceDetailObj" />
  <xs:complexType name="PremisesObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingSpace_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mothball" type="xs:short" />
      <xs:element minOccurs="0" name="MothballDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PremisesType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Premises_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premises_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsableArea" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PremisesObj" nillable="true" type="tns:PremisesObj" />
  <xs:complexType name="EntranceObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingSpace_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntranceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntranceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntranceType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Entrance_Key" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntranceObj" nillable="true" type="tns:EntranceObj" />
  <xs:complexType name="LeaseHeaderObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building_Key" type="xs:int" />
      <xs:element minOccurs="0" name="CaptureFormNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionCharged" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPayee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaseSigned" type="xs:int" />
      <xs:element minOccurs="0" name="LeaseType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Lease_key" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyIND" type="xs:int" />
      <xs:element minOccurs="0" name="NoticeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecoveryPerc" type="xs:float" />
      <xs:element minOccurs="0" name="RenewalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantYrEnd" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradingAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseHeaderObj" nillable="true" type="tns:LeaseHeaderObj" />
  <xs:complexType name="ContactDetailObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Key" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registration_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trading_As" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDetailObj" nillable="true" type="tns:ContactDetailObj" />
  <xs:complexType name="ContactAddressObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_Types_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Addresses_Key" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacts_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postal_YN" type="xs:short" />
      <xs:element minOccurs="0" name="Street_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactAddressObj" nillable="true" type="tns:ContactAddressObj" />
  <xs:complexType name="ContactTelenumberObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact_Key" type="xs:int" />
      <xs:element minOccurs="0" name="TeleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactTelenumberObj" nillable="true" type="tns:ContactTelenumberObj" />
  <xs:complexType name="LeaseContactObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Contact_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Lease_Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseContactObj" nillable="true" type="tns:LeaseContactObj" />
  <xs:complexType name="LeasePremisesObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeaseArea" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lease_Key" type="xs:int" />
      <xs:element minOccurs="0" name="NoticeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OccupationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Premises_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Usage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasePremisesObj" nillable="true" type="tns:LeasePremisesObj" />
  <xs:complexType name="LeaseChargeableObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BuildingAcc_Key" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingChargeType_Key" type="xs:int" />
      <xs:element minOccurs="0" name="End_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LeaseChargeables_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Lease_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Premises_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseChargeableObj" nillable="true" type="tns:LeaseChargeableObj" />
  <xs:complexType name="LeaseSuretyObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepositAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="GuaranteeAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="GuaranteeEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarentee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lease_Key" type="xs:int" />
      <xs:element minOccurs="0" name="Surety" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseSuretyObj" nillable="true" type="tns:LeaseSuretyObj" />
  <xs:complexType name="LeaseCommissionObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeaseCommAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LeaseCommPayee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lease_Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseCommissionObj" nillable="true" type="tns:LeaseCommissionObj" />
</xs:schema>